.body-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: space-around; */
}
.child-container {
  margin: 30px 20px;
}
h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
img {
  width: 15em;
  height: 15em;
  border-radius: 10px;
}
